<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Velkommen til Vinylfabrikken, <%= @user.email %></h1>
    <p>
      Du har gjennomført en velykket registrering på Vinylfabrikken.no,
      ditt brukernavn er : <%= @user.email %>.<br/>
    </p>
    <p>
      For å logge inn på nettsidene, gå til denne adressen <%= @url %>.
    </p>
    <p>Takk for interessen og ha en fin dag videre!</p>
  </body>
</html>