<div class="span10" >
	<h2><%= @article.title %></h2>
	<p style="font-weight:bold;">
		<%= @article.ingress %>
	</p>

	<p>
		<%= image_tag @article.image_url(:medium).to_s, :class => "articleimage" %>
		<%= @article.body %>
	</p>
</div>