<div class="progress orderline toggle-button">
		<div class="btn btn-inverse" style="width:100%;">
      <i id="plusminusicon" class="icon-plus-sign" style="float:left;padding-top:5px"></i>
      <span class="orderline_title"><b>MATRISER</b></span>
      <span class="btn btn-success btn-mini orderline_status">Ferdig</span>
      <span class="orderline_status_text">2 stk. Matriser</span>
		</div>
  </div>
  <div class="toggle-info"> 
    <table class="table orderline">
      <tr>
        <td colspan="2">
          <i class="icon-info-sign pull-right order_info" style="padding:5px"></i>

          <div class="infoBox">
            <%= get_info_text('matriser').desc %>
          </div>
          <%= get_info_text('matriser').short_desc %>
        </td>
      </tr>
      <tr>
        <td>Antall matriser</td>
        <td style="text-align:right">2 stk</td>
      </tr>
      <tr>
        <td>Hastighet</td>
        <td style="text-align:right">33 rpm</td>
      </tr>
       <tr>
        <td class="orderprice">Pris</td>
        <td style="text-align:right">400 kr</td>
      </tr>
    </table>

</div>