<div class="progress orderline toggle-button">
    <div class="btn btn-inverse" style="width:100%;">
      <i id="plusminusicon" class="icon-plus-sign" style="float:left;padding-top:5px"></i>
      <span class="orderline_title"><b>PRØVETRYKK</b></span>
      <span class="btn btn-warning btn-mini orderline_status">Ikke valgt</span>
      <span id="provetrykk_status_text" class="orderline_status_text">5 eksemplarer</span>
    </div>
  </div>
  <div class="toggle-info"> 
    <table class="table orderline">
      <tr>
        <td colspan="2">
          <i class="icon-info-sign icon-2x pull-right order_info" style="padding:5px"></i>

          <div class="infoBox">
            <%= get_info_text('provetrykk').desc %>
          </div>
          <%= get_info_text('provetrykk').short_desc %>
        </td>
      </tr>
      <%= f.fields_for :testpress, :remote => true do |testpress_fields| %>
       <tr>
        <td><b>Antall plater</b></td>
        <td style="text-align:right">
              5 eksemplarer
        </td>
      </tr>

      <tr>
        <td class="orderprice">Pris</td>
        <td id="testpress_price" style="text-align:right;font-weight:bold">150 kr</td>
      </tr>
            <tr>
        <td class="orderprice" colspan="2">Kommentarer</td>
      </tr>
       <tr>
        <td  colspan="2"><%= testpress_fields.text_area :comments, :size => "70x6", class: 'span9'  %></td>
      </tr>
      <% end %>
    </table>

</div>