<%= side.fields_for :side do |side| %>
	<div class="span4 gravering_upload_side"><%= side_fields.text_field :side_num %>
	<div class="pull-right">
	   <i id="plusminusicon" class="icon-plus-sign icon-2x"></i>
	</div><br /><br />
	<div class="upload_spor pull-left">Spor 1</div>
	<div class="upload_duration pull-right">3:40</div>
	<div class="upload_track_button pull-right"><button class="btn btn-primary">Last opp</button></div>
</div>
<% end %>