<div class="span10" style="padding-bottom:30px">
	<h1>Velg pakkeløsning</h1> 
	<br />

		Start fra bunnen eller start med en av våre komponerte pakker. Du kan fortsette å endre på bestillingen etter du velger pakke.
</div>

<div class="span12">
	<div class="pakkeitem"><br />

		<div class="pakkeheading">	
			<i class="icon-align-center icon-large" style="padding:5px;"></i>
			BLANK PAKKE
		</div>		
		<div class="pakkekropp">
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				Bygg en ny bestilling fra bunnen <br />
			</div>		
	
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				Velg antall, farge, fart, labels og mange andre ting
			</div>		
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				Lagre bestillingen
			</div>		
		</div>
	</div>	
	<div class="pakkeitem"><br />

		<div class="pakkeheading">	
			<i class="icon-star icon-large" style="padding:5px;"></i>
			PØNKEPAKKA
		</div>		
		<div class="pakkekropp">
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				150 Svart vinyl <br />
			</div>		
	
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				Velg antall, farge, fart, labels og mange andre ting
			</div>		
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				Lagre bestillingen
			</div>		
		</div>
	</div>	
	<div class="pakkeitem"><br />

		<div class="pakkeheading">	
			<i class="icon-headphones icon-large" style="padding:5px;"></i>
			LUXUSPAKKA
		</div>		
		<div class="pakkekropp">
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				500 Farget vinyl <br />
			</div>		
	
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				Velg antall, farge, fart, labels og mange andre ting
			</div>		
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				Lagre bestillingen
			</div>		
		</div>
	</div>
		<div class="pakkeitem"><br />

		<div class="pakkeheading">	
			<i class="icon-headphones icon-large" style="padding:5px;"></i>
			LIMITED
		</div>		
		<div class="pakkekropp">
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				500 Farget vinyl <br />
			</div>		
	
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				Velg antall, farge, fart, labels og mange andre ting
			</div>		
			<div class="pakkelinje">
				<i class="icon-check icon-large"></i>
				Lagre bestillingen
			</div>		
		</div>
	</div>	
</div>