<div class="row">
	<div class="span12">
			 		
		 
		<h1>Min handlekurv</h1><br />
		 
		<table class="table table-bordered table-striped">
		  <thead>
			  <tr>
				<th>Tittel</th>
				<th>Artist</th>
				<th>Antall</th>
				<th>Pris</th>
				<th></th>
			  </tr>
			</thead>
			<tbody>
				<div id="cart_line_items">
					<%= render(@cart.line_items, :where_to_render => 'large') %>
				</div>
			  <tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><strong>$4,700.00</strong></td>
				<td>&nbsp;</td>
			  </tr>		  
			</tbody>
		  </table>


		<% if Cart.find(session[:cart_id]).line_items.any? %>
		 	<div class="pull-left">
			  <%= button_to 'Tøm handlekurv', @cart, class: 'btn btn-warning', method: :delete, confirm: 'Er du helt sikker?' %>
			</div>


			<div class="pull-right">
				<%= link_to "Gå til kassen", '/kasse/', style: 'color:white', class: 'btn btn-primary pull-right' %>
			    
			</div>
		<% end %>
	</div>
</div>
