
<% if notice %>
<p id="notice" ><%= notice %></p>
<% end %>

 		

	 		
	 
	<h1>Min handlekurv</h1><br />
	 
        <table class="table table-bordered table-striped">
		  <thead>
			  <tr>
				<th>Tittel</th>
				<th>Artist</th>
				<th>Antall</th>
				<th>Pris</th>
				<th></th>
			  </tr>
			</thead>
			<tbody>
				<%= render(@cart.line_items, :where_to_render => 'large') %>
			  <tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td><strong>$4,700.00</strong></td>
				<td>&nbsp;</td>
			  </tr>		  
			</tbody>
		  </table>


		 	<div class="pull-left">
			  <%= button_to 'Tøm handlekurv', @cart, class: 'btn btn-warning', method: :delete, confirm: 'Er du helt sikker?' %>
			</div>
    		<div class="pull-right">
        	    <a href="checkout.html" class="btn btn-primary pull-right">Gå til kassen</a>
			</div>
