    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="/assets/carousel/slide-05.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Vinylfabrikk i Oslo</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at vehicula ut id elit.</p>
              <a class="btn btn-large btn-inverse pull-left" href="<%= '/choosepackage/' %>">Gå til bestilling</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/assets/carousel/slide-01.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Våre utgivelser</h1>
              <p class="lead">Cras justo odio, dapibus ac facilisis in, egest at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <a class="btn btn-large btn-inverse pull-left" href="#">Gå til galleriet</a>
            </div>
          </div>
        </div>
      </div>
     <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->