<div class="span4">
  <img class="img-circle" data-src="holder.js/140x140">
  <h2><%= news.title %></h2>
  <p><%= news.ingress %></p>
  <p><a class="btn" href="#">View details &raquo;</a></p>
</div><!-- /.span4 -->
