<%= render 'carousel' %>



    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
            <%= render :partial =>'plugs', :collection => @plugs  %>
      </div><!-- /.row -->
    </div>