<%= render 'carousel' %>



    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <% @news.each do |news| %>
            <%= render 'news' %>
        <% end %>
      </div><!-- /.row -->
    </div>