
    <!-- Carousel
    ================================================== -->
  <div id="myCarousel" class="carousel slide"  style="overflow:hidden">

      <ol class="carousel-indicators">
        <% @sliders.each_with_index do |slider, index| %>
          <li data-target="#myCarousel" data-slide-to="<%= index %>" <% if slider.active %> class="active"<% end %>></li>
        <% end %>
        </ol>
      <div class="carousel-inner">

      <%= render :partial => 'sliders', :collection => @sliders  %>

     </div>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev" >&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>



    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
            <%= render :partial =>'plugs', :collection => @plugs  %>
      </div><!-- /.row -->
    

      <!-- START THE FEATURETTES -->

      <%= render :partial =>'featurettes', :collection => @featurettes  %>
    
       <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

    </div>