<%= render 'carousel' %>



    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
            <%= render :partial =>'plugs', :collection => @plugs  %>
      </div><!-- /.row -->
    


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="/assets/vinyl-icon.png">
        <h2 class="featurette-heading">Vi selger platespillere<br /> <span class="muted">Til gode priser</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-left" src="/assets/facebook.png">
        <h2 class="featurette-heading">Følg oss på facebook<br /><span class="muted">For gode tilbud</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image pull-right" src="/assets/question-mark.png">
        <h2 class="featurette-heading">Hvis du lurer på noe <br /> <span class="muted">Besøk oss i Pløens gate</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->

    </div>