<%= render 'carousel' %>



    <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row">
            <%= render :partial =>'news', :collection => @news  %>
      </div><!-- /.row -->
    </div>

    
