<tr>
	<td colspan="2" style="font-weigt:bold;font-size:18px"><%= prices.name %></td>
</tr>
<tr>
	<td><%= prices.desc %><br /><br /></td>
	<td style="width:100px;font-weight:bold"><%= number_to_currency(prices.price, :precision => 2, scale: 5) %></td>
</tr>
