<div class="row">
	<div class="span10 offset1">
	<h1>Prisoversikt</h1><br /><br />
		<table class="table table-striped">
		    <%= render :partial =>'prices', :collection => @prices  %>
		</table>
	</div>
</div><!-- /.row -->