// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.handlekurv_line {
	font-size: 14px;
	font-weight:none;
 	text-align: right;
	padding:5px;
}

.cart_title {
	font-size: 18px;
	font-weight: bold;
	padding-bottom:20px;
}

.total_cell {
	font-weight: bold;
	padding-top:15px;
  	border-top: 1px solid black;
}

#accordion h3 {
	cursor: hand; 
	cursor: pointer; 
}

.checkout_heading {
	font-size:22px;
	padding:20px 0 20px 0	
}
