// Place all the styles related to the frontpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.newsimage {
	max-width:200px;
	padding:5px;
}

.rightalign {
	float:right;
}

.leftalign {
	float:left;
}

.plugbutton {
	color:white !important;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
