// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.progress.orderline {
	height:35px;
	margin:0px;
}

table.orderline {
	border: 1px solid lightgray;
}


.toggle-info {
    display: none;
}

.orderprice {
	font-weight:bold;
}

.orderline_status {
	float:right;
	margin-right:20px;
}

.orderline_status_text {
	float:right;
	padding-right:10px;
}

.orderline_title {
	float:left;
	padding-left:20px;
	padding-top:2px;
}

.infoBox
{
	font-size: 13px;
	background-color: #ffffff;
	margin: 0 10px;
	padding: 5px;
	width: 500px;
	border: solid 2px black;
	position: absolute;

}
.infoTextBox {
	padding-right:40px;
}

.pakkeitem {
	background-color: black;
	-moz-border-radius: 15px;
	border-radius: 15px;
	width:320px;
	height:300px;
	float:left;
	margin:20px;
}

.pakkeheading {
	color:white;
	font-size:2em;
	width:100%;
	font-weight:bold;
	font-family: Arial;
	padding:20px;
}

.pakkekropp {
	color:white;
	font-size:1.2em;
	font-family: Arial;
	padding-left:20px;
	padding-right:20px;

}

.pakkelinje {
	padding-bottom:15px;
}

.orderDetails {
	background-color:black;
	padding:20px;
	margin-top:30px;
	margin-bottom:30px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	color:white;

}

.orderDetails input {
	width:160px;
}

.orderDetails select {
	width:180px;
}

.leverings_metode_dropdown select {
	width: 50px !important;
}

.myOrdersWrapper {

	background-color:black;
	padding:10px;
	margin:20px;
	min-height:180px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	color:white;
	font-family:Arial;
}

.myOrderHeading {
	font-size: 1.4em;
	padding:10px;
	min-height:60px;
}

.myOrderBody {
	min-height:60px;
	padding:20px 0 0 0;
	margin-bottom:20px;
	background-color:black;
}

#range {
	background-color:black;
	color:white;
	width:100px;
	font-size:18px;
}

.order_status {
	-moz-border-radius: 5px;
	border-radius: 5px;
	color:auto;
	width:auto;
	font-family:Arial;
	font-size:9px;
	padding:2px 5px 2px 5px;
	text-align:center;
	font-weight:bold;
}

.order_status_1 {
	background-color: magenta;
}

.order_status_desc {
	font-size: 13px;
	background-color: #ffffff;
	padding: 5px;
	color:black;
	width: 160px;
	border: solid 2px black;
	position: absolute;
}

.gravering_upload_side {
	background-color:black;
	color:white;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding:10px;
	font-weight:bold;
	text-align:left;


}

.upload_spor {
	background-color:white;
	color:black;
	margin-top:20px;
	font-size:14px;
	font-weight:none;
	text-align:center;
	width:50%;
	float:left;
	padding:5px;
	margin:2px;
}


.upload_duration {
	background-color:white;
	color:black;
	margin-top:20px;
	font-size:14px;
	font-weight:none;
	text-align:center;
	width:20%;
	float:left;
	padding:5px;
	margin:2px;
}

.upload_track_button {
	font-weight:none;
	float:left;
	margin-top:2px;
	margin-left:2px;
}