// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.progress.orderline {
	height:35px;
	margin:0px;
}

table.orderline {
	border: 1px solid lightgray;
}


.toggle-info {
    display: none;
}


.orderprice {
	font-weight:bold;
}

.orderline_status {
	float:right;
	margin-right:20px;
}

.orderline_status_text {
	float:right;
	padding-right:10px;
}

.orderline_title {
	float:left;
	padding-left:20px;
	padding-top:2px;
}

.infoBox
{
	font-size: 13px;
	background-color: #ffffff;
	margin: 0 10px;
	padding: 5px;
	width: 500px;
	border: solid 2px black;
	position: absolute;

}