<p>Velkommen <%= @email %>!</p>

<p>Du kan bekrefte kontoen din under:</p>

<p><%= link_to 'Bekreft min konto', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
