<p>Hei <%= @resource.email %>!</p>

<p>Noen har forespurt en link der du kan forandre passordet ditt. Du kan gjøre dette ved å klikke på linken under.
</p>

<p><%= link_to 'Bytt passord', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Hvis du ikke har spurt om dette så kan du ignorere denne e-posten.</p>
<p>Passordet blir ikke oppdatert før du klikker på linken og velger ett nytt.</p>
