<p>Hei <%= @resource.email %>!</p>

<p>Kontoen din har blitt låst på grunn av for mange mislykkede innlogginger.</p>

<p>Klikk på linken under for å låse opp kontoen:</p>

<p><%= link_to 'Lås opp konto', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
