<tr>
 	<td class="handlekurv_line"><%= line_item.order.title %> </td>
 	<td class="handlekurv_line"><%= line_item.order.artist %> </td>
 	<td class="handlekurv_line"><%= line_item.order.quantity %> eksemplarer</td>
 	<td class="handlekurv_line"> 5000,00 kr </td>
</tr>